<?php
// Zabbix GUI configuration file.
global $DB;

$DB['TYPE']     = '{{ zabbix3server_db | upper }}';

$DB['SERVER']   = '{{ zabbix3server_dbhost }}';
{% if zabbix3server_dbport %}
$DB['PORT']     = '{{ zabbix3server_dbport }}';
{% else %}
$DB['PORT']     = '0';
{% endif %}

$DB['DATABASE'] = '{{ zabbix3server_dbname }}';
$DB['USER']     = '{{ zabbix3server_dbuser }}';
$DB['PASSWORD'] = '{{ zabbix3server_dbuserpassword }}';

// Schema name. Used for IBM DB2 and PostgreSQL.
{% if zabbix3server_dbschema %}
$DB['SCHEMA'] = '{{ zabbix3server_dbschema }}';
{% else %}
$DB['SCHEMA'] = '';
{% endif %}

$ZBX_SERVER      = 'localhost';
{% if zabbix3server_listenport %}
$ZBX_SERVER_PORT = '{{ zabbix3server_listenport }}';
{% else %}
$ZBX_SERVER_PORT = '10051';
{% endif %}
$ZBX_SERVER_NAME = '{{ zabbix3server_name }}'

$IMAGE_FORMAT_DEFAULT = IMAGE_FORMAT_PNG;
?>
